<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>6CEA41A3-E3EA-409E-84AB-2114D61BABC7.playgroundpage</string>
	</array>
</dict>
</plist>
